<p>
  <strong>User:</strong>
  <%= @user.name %>
</p>

<h2>Books</h2>
<% @user.books.each do |book| %>
  <p>
    <strong>Title:</strong>
    <%= book.title %> <strong>Read:</strong>
    <%= book.read %>
  </p>

  <p>
    <%= link_to 'Delete', [book.user, book], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>

<% end %>

<h2>Add a book:</h2>
<%= form_for([@user, @user.books.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :read %><br>
    <%= f.text_field :read %>
  </p>

  <p>
  <%= f.submit %>
  </p>

<% end %>

<%= link_to "Edit", edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
